// Place all the styles related to the rvPark controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-1000px
{
    width: 1000px;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}